body {
  font-family: "Times New Roman", serif;
  background-color: #fff;
  color: #000;
  line-height: 1.5;
}

.document {
  width: 100%;
}

.page {
  page-break-after: always;
  padding: 30px;
  margin: auto;
  max-width: 800px;
  border: 1px solid #ccc;
  background: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  margin-bottom: 20px;
  position: relative;
}

h1, h2, h3 {
  color: #2c3e50;
  margin-top: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 10px;
}

.btn {
  display: inline-block;
  margin: 30px auto;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}
